body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.about-me-container {
    display: flex;
    width: 100%;
}

.about-me-text {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}
